// TAO specific
@import "inc/bootstrap";

.item-editor-sidebar .tool-group {
  .panel.creator-audioRecordingInteraction-spinner {
    background: blue !important;

    .incrementer-ctrl-wrapper {

      input {
        width: 100%;
      }
    }
  }
}



// Interaction

.qti-customInteraction {
  .audioRecordingInteraction {

    padding: 10px;

    // Buttons

    .audiorec-control {
      margin: 10px 10px 10px 0;
      border-radius: 3px;
      font-size: 14px !important;
      cursor: pointer;
      text-decoration: none !important;
      vertical-align: middle;
      outline: 0;
      overflow: visible;
      border: none;
      display: inline-block;
      line-height: 2.5;
      padding: 0 15px;
      font-weight: normal;
      font-style: normal;
      text-align: center;
      height: 35px;

      &.disabled {
        background-color: #afb4bb;
        text-shadow: 1px 1px 0 rgba(255,255,255,0.8) !important;
        cursor: not-allowed !important;
        opacity: .55 !important;
        color: #000 !important;
      }

      &.enabled {
        background-color: #266d9c;
        color: #fff;
        text-shadow: 1px 1px 0 #0b4a74;
        cursor: pointer !important;

        &:hover {
          opacity: 0.85;
        }
      }

      &.active {
        background-color: #BA122B;
        color: #fff;
        text-shadow: 1px 1px 0 #640a17;
        cursor: not-allowed !important;
      }

    }

    // Progress bar

    progress::-webkit-progress-bar {
      /* style rules */
      background-color: #BA122B;
    }

    progress::-webkit-progress-value {
      /* style rules */
      background-color: #BA122B;
    }

    progress::-moz-progress-bar {
      /* style rules */
      background-color: #BA122B;
    }
  }
}

