// =============
// TAO specific
// =============

@import "inc/bootstrap";

.item-editor-sidebar .tool-group {
  .panel.creator-audioRecordingInteraction-spinner {
    .incrementer-ctrl-wrapper {
      display: block;
      width: 100%;

      input {
        width: 100% !important;
      }
    }
  }
}

// Color mapping

$disabledBg: whiten($websiteBorder, .3);
$disabledTxt: black;
$disabledTxtShadow: white(.8);

$enabledBg: whiten($info, .1);
$enabledTxt: white;
$enabledTxtShadow: blacken($info, .2);

$activeBg: whiten($activeInteraction, .1);
$activeTxt: white;
$activeTxtShadow: blacken($activeInteraction, .2);



// =============
// Interaction
// =============

.qti-customInteraction {
  .audioRecordingInteraction {

    padding: 10px;

    // Buttons

    .audiorec-control {
      margin: 10px 10px 10px 0;
      border-radius: 3px;
      font-size: 14px !important;
      cursor: pointer;
      text-decoration: none !important;
      vertical-align: middle;
      outline: 0;
      overflow: visible;
      border: none;
      display: inline-block;
      line-height: 2.5;
      padding: 0 15px;
      font-weight: normal;
      font-style: normal;
      text-align: center;
      height: 35px;

      &.disabled {
        background-color: $disabledBg;
        text-shadow: 1px 1px 0 $disabledTxtShadow !important;
        cursor: not-allowed !important;
        opacity: .55 !important;
        color: $disabledTxt !important;
      }

      &.enabled {
        background-color: $enabledBg;
        color: $enabledTxt;
        text-shadow: 1px 1px 0 $enabledTxtShadow;
        cursor: pointer !important;

        &:hover {
          opacity: 0.85;
        }
      }

      &.active {
        background-color: $activeBg;
        color: $activeTxt;
        text-shadow: 1px 1px 0 $activeTxtShadow;
        cursor: not-allowed !important;
      }

    }

    // Progress bar

    progress::-webkit-progress-bar {
      background-color: $activeBg;
    }

    progress::-webkit-progress-value {
      background-color: $activeBg;
    }

    progress::-moz-progress-bar {
      background-color: $activeBg;
    }
  }
}

