// =============
// TAO specific
// =============

@import "inc/bootstrap";




// =============
// PCI
// =============

$buttonBg: blacken(white, .2);
$buttonTxt: whiten(black, .3);
$buttonFont: "Times New Roman", Times, serif;

.qti-customInteraction {
  .mathEntryInteraction {

    .math-entry-input {
      width: 100%;
    }

    // Buttons

    .math-entry-toolgroup {
      margin: 10px 12px 10px 0;
      display: inline-block;
    }

    .math-entry-tool {
      font-family: $buttonFont;
      font-size: 14px !important;
      font-weight: bold;
      font-style: normal;
      cursor: pointer;
      text-decoration: none !important;
      vertical-align: middle;
      outline: 0;
      overflow: visible;
      display: inline-block;
      line-height: 2.5;
      padding: 0 15px;
      text-align: center;
      height: 35px;
      background-color: $buttonBg;
      color: $buttonTxt;
      border: 1px solid blacken($buttonBg, 0.2);

      &:hover {
        background-color: whiten($buttonBg, .5);
      }

    }

  }
}

