@import "inc/bootstrap";
.pci-manager {
    margin: auto auto;
    width: 80%;
    .pcimgr {
        max-width: 100%;
    }
    .resourcemgr {
        width: 100%;
    }
}

.pci-manager-trigger{
    &:before{
        margin-right: 5px;
        @include font-size(10.5);
        @include tao-icon-setup;
        @include icon-tools;
    }
}

.pcimgr{
    .file-selector{
        display:block;
        min-height:400px;
        min-width: 100%;
        margin-bottom: 20px;
        .title-container{
            margin-right:75px;
            .title{
                margin-right:0;
            }
        }
        .note{
            color : $info;
            font-weight:bold;
            margin:0 3px;
        }
        .note-container{
            position: absolute;
            bottom : -30px;
        }
        ul.files{
            overflow-y:auto;
            min-height: 300px;
            div.action-header{
              position: relative;
              height: 2rem;
              span.switch-header {
                position: absolute;
                right: 23rem;
              }
            }
        }
        .pci-list-element{
            cursor: default !important;
            div.actions{
                top: 5px !important;
                width:auto !important;
                height:auto !important;
                line-height: 1.4;
                .pci-switch {
                    margin-right: 2rem;
                    position: relative;
                    left: 0;
                    top: 1px;
                    display: inline;
                }
                .pci-buttons {
                    position: relative;
                    display: inline;
                  button:first-child{
                    margin-right: 2rem;
                  }
                }
            }
            .button-disable{
                height: 18px;
                padding: 4px 6px;
                display: inline-block;
            }
            .button-enable{
                height: 18px;
                padding: 4px 6px;
                display: none;
            }
            .disable-tag{
                display: none;
                font-style: italic;
            }
            &.pci-disabled{
                color: whiten($textColor, 0.6);
                &:hover{
                    background: whiten($uiClickableHoverBg, 0.9);
                }
                .button-disable{
                    display: none;
                }
                .button-enable{
                    display: inline-block;
                }
                .desc{
                    font-style: italic;
                }
                .disable-tag{
                    display: inline-block;
                }
            }
        }
        .file-upload-container{
            display: block;
        }
    }
}

.uploader{
    .upload-separator{
        margin:0 2px;
        color: #333;
    }
    .upload-label{
        font-weight : bold;
    }
    .upload-identifier{
        color: #333;
    }
}
