@import "inc/bootstrap";
.tao-scope {
    
    .pci-manager-trigger{
        &:before{
            margin-right: 5px;
            @include font-size(10.5);
            @include icon('tools');
        }
    }
    
    .pcimgr{
        .file-selector{
            display:block;
            min-height:400px;
        }
    }
    
    .uploader{
        .upload-separator{
            margin:0 2px;
            color: #333;
        }
        .upload-label{
            font-weight : bold;
        }
        .upload-identifier{
            color: #333;
        }
    }
}