.likertScoreInteraction {
    --likert-choice-gap: 1em;
}
.likertScoreInteraction .scale {
    display: flex;
    align-items: center;
    margin-top: 1em;
}
.likertScoreInteraction .scale svg {
    margin: 0.5em 0;
}
.likertScoreInteraction .scale svg:first-of-type {
    margin-inline-start: 0.5em;
}
.likertScoreInteraction .scale svg:last-of-type {
    margin-inline-end: 0.5em;
}
.likertScoreInteraction .scale ul.likert {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--likert-choice-gap);
    list-style-type: none;
    margin: 0.25em 1em 0;
    padding: 0;
}
.likertScoreInteraction.numbers-above .scale {
    align-items: flex-end;
    margin-top: 1.5em;
}
.likertScoreInteraction .scale ul input {
    position: relative;
    margin: 0;
    padding: 0;
    color: inherit;
}
.likertScoreInteraction.numbers-above .scale ul input::before {
    content: counter(list-item);
    display: block;
    text-align: center;
    min-width: 2ch;
    position: absolute;
    top: -1.75em;
    left: -0.15em;
}
