/*add some style, need to scope (using the typeIdentifier as class prefix) every style declaration to prevent collision */
@import url("base.css");

.qti-customInteraction .imsSamplePciLikert ul.likert{
    list-style-type: none;
    margin: 0 5px;
    padding: 0;
    display:inline-block;
    position: relative;
    top:7px;
}

.qti-customInteraction .imsSamplePciLikert ul.likert li{
    float: left;
    text-align: left;
    list-style-type: none;
}

.qti-customInteraction .imsSamplePciLikert ul.likert li input{margin: 0 3px; cursor: pointer;}

.qti-customInteraction .imsSamplePciLikert .prompt {position:relative;}

.qti-customInteraction .imsSamplePciLikert .likert-label {min-width:90px; color: #444;}
.qti-customInteraction .imsSamplePciLikert .likert-label-min {text-align: right;}
.qti-customInteraction .imsSamplePciLikert .likert-label-max {text-align: left;}
.qti-customInteraction .imsSamplePciLikert .likert-label img {position:relative; width:16px;}